#mynav {
	background-color: white;
	border-bottom: outset;
}

#mybrand {
	text-decoration: none;
	color: #ff748c;
}

#myfooter {
	background-color: #ff748c;
	color: white;
}

#img-abt {
	width: 200px;
}

#project {
	background-color: #fff4f3;
}

#myimg {
	width: 100%;
}

#core-tool {
	
}

/* -----------------  */
#landingPage {
	/*opacity:  .60*/
	background-color:  rgba(0,0,0,.60);
}

body {
	background-image: url(https://images.pexels.com/photos/1040473/pexels-photo-1040473.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#gmap_canvas {
	height: 80vh;
	width: 100%;
}

.fa-icons {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;	
}